NODE_ENV=local
PORT=4000
DATABASE_URL="postgresql://subscription:subscription@localhost:5433/subscription?schema=public"
CLIENT_URL=http://localhost:5173
API_URL=http://localhost:4000
JWT_SECRET="JWT_SECRET"